.main_container {
  width: 63%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 10px;
  @media (max-width: 1600px) {
    width: 80%;
  }
  @media (max-width: 1200px) {
    width: 90%;
  }
}
.logo_container {
  width: 100px;
}
.menu_container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 40px;
}
.menu_item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
